@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.realizacoes {
  background: linear-gradient(to right, #411761, #724793); /* Fundo gradiente suave */
  padding: 50px 0;
  color: #fff; /* Cor do texto */
  font-family: 'Roboto', sans-serif;
}

.realizacoes .container {
  text-align: center;
}

.realizacoes h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 700;
}

.realizacoes p {
  margin-bottom: 40px;
  font-size: 1.0em;
 
}

.realizacoes .realizacoes-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.realizacoes .realizacao-item {
  background: rgba(255, 255, 255, 0.1); /* Fundo translúcido */
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 150px;
  transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
  border-radius: 10px; /* Bordas arredondadas */
}

.realizacoes .realizacao-item:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.2); /* Fundo mais claro ao passar o mouse */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.realizacoes .realizacao-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.realizacoes .realizacao-item p {
  font-size: 14px;
  margin-top: 10px; /* Espaçamento superior para o texto */
}

.realizacoes .realizacao-item svg {
  font-size: 40px; /* Aumentar o tamanho dos ícones */
  color: #ffdd57; /* Cor dos ícones */
  transition: color 0.3s ease; /* Transição suave para a cor */
}

.realizacoes .realizacao-item:hover svg {
  color: #ffc107; /* Cor dos ícones ao passar o mouse */
}

@media (min-width: 768px) {
  .realizacoes .realizacoes-grid {
    justify-content: space-between;
  }

  .realizacoes h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 700;
  }
  .realizacoes p {
    margin-bottom: 40px;
    font-size: 1.5em;
   
  }

  .realizacoes .realizacao-item {
    width: 200px;
  }
}
